{% extends 'base.html.twig' %}

{% block body %}
    <h1>Campoafins list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campoAfin in campoAfins %}
            <tr>
                <td><a href="{{ path('campoafin_show', { 'id': campoAfin.id }) }}">{{ campoAfin.id }}</a></td>
                <td>{{ campoAfin.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('campoafin_show', { 'id': campoAfin.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('campoafin_edit', { 'id': campoAfin.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('campoafin_new') }}">Create a new campoAfin</a>
        </li>
    </ul>
{% endblock %}
