{%  extends 'base.html.twig' %}

{%  block title %} Página de Campo Afin {% endblock %}

{% block campoafin %} active {% endblock %}

{% block  body %}

    <h2> Listado de Campo Afin </h2>

            <br>




    {{ form_start(form) }}

    {{ form_label(form.descripcion) }}
    {{ form_widget(form.descripcion) }}
    {{ form_errors(form.descripcion) }}


    {#{#}

    <br>
        <br>

    <br>


    {#{{ form_widget(form.Guardar) }}#}
            <button type="submit" class="btn btn-primary">Agregar</button>


    {{ form_end(form) }}

{% endblock %}